.App {
  width: 1530px;
  height: 1024px;
  border-radius: 20px;
  background: #343639;
  display: flex;
}

.sideNav {
  width: 127px;
  height: inherit;
  background: #ec7e4a;
  border-radius: 20px 0 0 20px;
}

.home {
  width: 1313px;
  height: inherit;
}
